[MESSAGES CONTROL]
disable=
    C,
    E1307, # bogus errors
    R,
    fixme,
    locally-disabled,
    protected-access,
    useless-else-on-loop,
    cell-var-from-loop, # https://github.com/PyCQA/pylint/issues/1934
enable=useless-suppression

[REPORTS]
reports=n
