name: Coverage
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: 0 0 * * *

jobs:
  Coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python environment
        uses: actions/setup-python@v4.2.0
        with:
          python-version: '3.7'
      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install coverage pytest
          pip install -r test/requirements.txt
          python setup.py install
      - name: Generate Unit Test Coverage
        run: |
          coverage run --rcfile=.coveragerc -m pytest
          coverage xml
      - name: Publish Coverage
        uses: codecov/codecov-action@v1.0.14
        with:
          flags: unit
          fail_ci_if_error: true